<li class="media">
  <div class="media-left">
    <% if activity.owner.profile_image_url %> 
    <%= image_tag(activity.owner.profile_image_url(:thumb)) %>
    <% else %>
    <% if activity.owner.profile_image_url %> 
      <%= image_tag(activity.owner.profile_image_url(:thumb), :class=>"img-circle" , :width=>"35") %>
      <% else %>
      <img src="/images/profile.png" width="35" alt="Bill" class="img-circle" />
     <% end %> 
    <% end %>
  </div>
  <div class="media-body">
    <%=link_to "#{activity.owner.first_name}", user_path(activity.owner), data: { turbolinks: false } %> 
    <% if a.trackable %>
	   supported campaign <%= link_to a.trackable.subject, campaign_path(a.trackable), data: { turbolinks: false } %>
	  <% else %>
	    added the story that is currently deleted.
	  <% end %> on his timeline.
    <br/>
    <span class="text-caption text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></span>
  </div>
</li>