
<div class="col-md-2">
</div>
<div class="col-md-6" style="margin-left:20px;">
<div class="media-body"> 
<div class="media" style="height: 38px;">
      <div class="panel panel-default share">
      <%= form_for(@message, remote: true) do |f| %>
        <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
          <div class="input-group">
              
               <%= f.text_field :body, class: 'form-control share-text', :placeholder=> "Write message..." %>
              <!-- /btn-group -->
              
              <div class="input-group-btn">
              <%= f.submit 'Send'.html_safe, class: 'btn btn-primary' %>
                  
              </div>
          </div>
          <% end %>
          <!-- /input-group -->
      </div>
    </div>
<div class="media" id="message">
  <div id="messages<%= @chat_room.id %>">
  <div id="get-messages">
  
  <%= render :partial => 'messages/message', :collection => @chat_room.messages.reverse %>
  </div>
  </div>
  </div>   
    
  </div>
</div>


<div class="col-md-2" style="padding-left: 20px;" >
  <div class="row">
<% (1..2).each do |i| %>
   <%= render 'shared/add' %>
<% end %>
    </div>
  </div>
  <div class="col-md-2" style="padding-left: 20px;" >
  <div class="row">

<% (1..2).each do |i| %>
    <%= render 'shared/add' %>
<% end %> 
  </div>
  </div>

