<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="media-body"> 
  <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render :partial => 'messages/message', :collection => @chat_room.messages %>
  </div>   
    <div class="media">
      <div class="panel panel-default share">
      <%= form_for @message, url: '#' do |f| %>
        <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
          <div class="input-group">
              
               <%= f.text_field :body, class: 'form-control share-text', :placeholder=> "Write message..." %>
              <!-- /btn-group -->
              
              <div class="input-group-btn">
              <%= f.submit 'Send'.html_safe, class: 'btn btn-primary' %>
                  
              </div>
          </div>
          <% end %>
          <!-- /input-group -->
      </div>
    </div>
  </div>
</div>
