<div class="col-md-9" >
<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        <%= "Total distributed amount" %>
      </h1>
      <div class="pull-right" style="padding-right:20px;">
      <h3>Rs. <%= @total_amount %></h3>
      
    </div>
      <div class="clearfix"></div>
   
</div>
<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        <%= "Total Amount to be paid" %>
      </h1>
      <div class="pull-right" style="padding-right:20px;">
      <h3>Rs. <%= @fundraises_payment_amount_to_be_paid %></h3>
      
    </div>
      <div class="clearfix"></div>
   
</div>
<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        <%= "Total Amount paid" %>
      </h1>
      <div class="pull-right" style="padding-right:20px;">
      <h3>Rs. <%= @fundraises_payment_amount_paid %></h3>
      
    </div>
      <div class="clearfix"></div>
   
</div>

<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        <%= "Jobs" %>
      </h1>
      <div class="pull-right">
      <%= link_to "Pending payment", fundraise_payment_details_path("pending"), data: { turbolinks: false , disable_with: 'Wait ...'}, class: 'btn btn-primary', :style=> "margin-top: 10px;
    margin-right: 10px;"%>
    <%= link_to "Transfered payment", fundraise_payment_details_path("transfered"), data: { turbolinks: false , disable_with: 'Wait ...'}, class: 'btn btn-primary', :style=> "margin-top: 10px;
    margin-right: 10px;"%>
    <%= link_to "All payment", fundraise_payment_details_path("all"), data: { turbolinks: false , disable_with: 'Wait ...'}, class: 'btn btn-primary', :style=> "margin-top: 10px;
    margin-right: 10px;"%>
      
    </div>
      <div class="clearfix"></div>
   
</div>
<div class="panel panel-default">
    <!-- Data table -->
    <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>User</th>
          <th>Fundraise</th>
          <th>Full Name</th>
          <th>Account No.</th>
          <th>IFSC code</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>User</th>
          <th>Fundraise</th>
          <th>Full Name</th>
          <th>Account No.</th>
          <th>IFSC code</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </tfoot>
      <tbody>
      <%= render :partial => 'fundraise_payment_details/fundraise_payment_detail', :collection => @fundraise_payment_details %>
      </tbody>
    </table>
    <!-- // Data table -->
  </div>
   <div style="padding-left:30px;" >
   <%= render 'shared/uberad' %>
</div>  
  </div>

   <div class="col-md-3" style="padding-left: 10px;
    padding-right: 0px;">
    <div class="row">

  <%= render 'shared/add' %>
    <%= render 'shared/add' %>
  
  </div>
    </div>  