<li>
  <div class="media">
    <a href="" class="pull-left">
      <% if comment.user.profile_image_url %> 
        <%= image_tag(comment.user.profile_image_url(:thumb), :class=>"media-object") %>
        <% else %>
        <img src="/images/people/50/guy-5.jpg" class="media-object" />
        <% end %>
    </a>
    <div class="media-body">
      <a href="" class="comment-author"><%= comment.user.first_name %></a>
     <%if comment.mentionees(User).any?%>
          <%comment.mentionees(User).each do |user|%>

            <%= link_to "@#{full_name(user)}", user_path(user), :class=>"text-capitalize"%>
            <%end%>
            <%end%>
      <span><%= comment.description %></span>
      <div class="comment-date">commented <%= time_ago_in_words(comment.created_at) %> ago
      </div>
    </div>
  </div>
</li>