<div class="col-md-9" style="padding:0px;">
  <div class="panel panel-default" style="margin-bottom: 10px;border-radius: 2px;">
    <div class="panel-body" style="padding-bottom:0px;padding-top:10px;">
      <center>
        <h3 class = "margin-none text-uppercase"><b><%=@fundraise.subject%>
        <% if (@fundraise.user == current_user) %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe , edit_fundraise_path(@fundraise), :class=>"btn btn-white btn-md pull-right" ,data: {  turbolinks: false }%>
          <% end %>
        </b></h3> 
      </center>
      <div class="media">
        <div class="media-object pull-left">
          <% if @fundraise.image_url %> 
            <%= image_tag @fundraise.image_url :normal, :class=>"img-responsive", :style=>"padding:5px;"%>
          <% else %>
            <img src="/images/default.png" alt="image" class="img-responsive" style="padding:5px;" />
          <% end %>
        </div>
        <div class="media-body">
        <% if @fundraise.payment_is_pending == nil %>
        <a data-toggle="collapse" data-target="#donate<%=@fundraise.id%>" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary btn-lg" style="margin-bottom:10px;">Make a Contribution</a>
        <% else %>
        <%= link_to "Make a Contribution",nil ,:class=>"btn btn-primary btn-lg", :disabled=> true, :style=> "margin-bottom:10px;"%>
        <% end %>
        
          <h4 class = "margin-none text-capitalize"><%=@fundraise.small_description%></h4><br>
          
          <p >Started by
            <%= link_to "#{full_name(@fundraise.user)}", user_path(@fundraise.user), :class=> "text-capitalize",data: {  turbolinks: false }%>
          </p>
          <%if @fundraise.mentionees(User).any? %>
          with
          <%@fundraise.mentionees(User).each do |user|%>
            <%= link_to "#{user.first_name} #{user.last_name}", user_path(user), :class => "text-capitalize",data: {  turbolinks: false }%>
            <%end%>
          <%end%>
         
          <h3 class="margin-none text-capitalize"> Goal : Rs. <%=@fundraise.target%></h3>
          <div class="clearfix">
            <span class="pull-left">Raised <i class="fa fa-inr"></i> <span><%=@fundraise.raised_amount%></span></span>
            <span class="pull-right"><%=@fundraise.raised_amount*100/@fundraise.target%>%</span>
          </div><!-- .amt-raised -->
          <div class="progress" style="margin-bottom:5px;">
            <div class="progress-bar" style="width:<%=@fundraise.raised_amount*100/@fundraise.target%>%"> 
            </div>
          </div>
          <h3><span class="follow-count" data-id="<%= @fundraise.id %>" >
              <%= @fundraise.followers_count %></span> Followers</h3>
          <h3><span class="votes-count" data-id="<%= @fundraise.id %>" ><%= @fundraise.likers_count %></span> Likes</h3>
          
        </div>
      </div>
      <br>
      <h5 class = "margin-none text-capitalize"><%=@fundraise.description%></h5>
      <div class="collapse" id="donate<%=@fundraise.id%>" >
          <div class="form-horizontal" role="form">
            <%= form_for(@payment) do |f| %>
            <%= hidden_field_tag 'fundraise_id', @fundraise.id %>
                <div class="form-group">
      
                  <div class="col-md-10" style="padding-left:0px;padding-right:0px;width:83%;padding-top:10px;">
                  <%= f.number_field :amount, :class=>'form-control', :id=>"touch-spin-2", :placeholder=>"enter donation amount...", "data-toggle"=>"touch-spin", "data-min"=>"0", "data-max"=>"1000000", "data-prefix"=>"Rs", "data-step"=>"1", :value=>"200" %>
                  </div>
                  <div class="col-md-2" style="padding-left:10px;padding-top:10px;">
                   <%= f.submit "Contribute", class: "btn btn-primary" %>
                   </div>
                </div>                  
                <% end %>
        </div>            
      </div>    
      <div class="collapse" id="1collapseExample<%=@fundraise.id%>" style= "padding-left:10px;padding-bottom:5px;padding-top:10px;" >
     <%= social_share_button_tag(@fundraise.description, :url => request.original_url, :image => "https://storage.googleapis.com/takestand#{@fundraise.image_url}" ) %>

     </div>
      <div class="btn-group btn-group-footer btn-group-justified" style="margin-top:10px;">
         <% if current_user.likes?(@fundraise)  %>
          <%= link_to '<i class="fa fa-heart"></i>Unlike'.html_safe, like_fundraise_path(@fundraise), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Like', toggle_href: like_fundraise_path(@fundraise), id: @fundraise.id } %>
          <% else %>
            <%= link_to '<i class="fa fa-heart"></i>Like'.html_safe, like_fundraise_path(@fundraise), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Unlike', toggle_href: like_fundraise_path(@fundraise), id: @fundraise.id } %>
          <% end %>
          <% if current_user.follows?(@fundraise)  %>
            <%= link_to '<i class="fa fa-user"></i> Unfollow'.html_safe, follow_fundraise_path(@fundraise), method: :put, :class=>"follow btn", remote: true, data: { toggle_text: 'Follow', toggle_href: follow_fundraise_path(@fundraise), id: @fundraise.id } %>
          <% else %>
            <%= link_to '<i class="fa fa-user"></i> Follow'.html_safe, follow_fundraise_path(@fundraise), method: :put, :class=>"follow btn", remote: true, data: { toggle_text: 'Unfollow', toggle_href: follow_fundraise_path(@fundraise), id: @fundraise.id } %>
          <% end %>                  
        <a data-toggle="collapse" data-target="#1collapseExample<%=@fundraise.id%>" aria-expanded="false" aria-controls="collapseExample" class="btn"><i class="fa fa-user"></i> Share</a>
      </div>
    </div>
  </div>
  <div style="padding-left:30px;">
   <%= render 'shared/uberad' %>
</div>
</div>

 <div class="col-md-2" style="padding-left: 30px;
    padding-right: 0px;">
    <div class="row">
  <% (1..5).each do |i| %>

    <%= render 'shared/add' %>
  <% end %>
  </div>
    </div>  