<tr>
  <td><%= job.subject %></td>
  <td><%=job.description%></td>
  <td><%job.mentionees(User).each do |user|%>
  
    <%= link_to "#{user.first_name} #{user.last_name}", user_path(user), data: { turbolinks: false }, :class => "text-capitalize"%>
    <%end%>
  </td>
  <td>
  <% unless job.is_completed  %>
    <%= link_to '<i class="fa fa-check-circle"></i>'.html_safe, job_status_path(:job_id => job.id), :method => :post, :class=>"btn btn-primary btn-xs","data-toggle"=>"tooltip", "data-placement"=>"top", :title=>"Mark as Completed"  %>
    <% else %>
    <%= link_to '<i class="fa fa-check-circle"></i>'.html_safe, job_status_path(:job_id => job.id), :method => :post, :class=>"btn btn-danger btn-xs","data-toggle"=>"tooltip", "data-placement"=>"top", :title=>"Mark as Uncompleted"  %>
    <% end %>
    <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
  </td>
</tr>




