<tr>
  <td>
    <% if user.profile_image_url %> 
      <%= image_tag(user.profile_image_url(:thumb),:width=>"35") %>
      <% else %>
      <img src="/images/profile.png" width="35" alt="Bill"/>
      <% end %>
      <%= link_to "#{full_name(user)}", user_path(user), :class=>"text-capitalize" ,data: {  turbolinks: false }%>
    </td>
  </td>
  <td>
  <div class="friend-message pull-right" data-id="<%= user.id %>">
    <% if current_user.pending_friends.include?(user) %>
     <%= link_to "Friend request send",nil ,:class=>"btn btn-info", remote: true, :disabled=> true %>
     <% elsif current_user.requested_friends.include?(user) %>
    <%= link_to "Accept Request", accept_path(user), :method => :post, :class=>"acceptfriend btn btn-primary", remote: true, data: { disable_with: 'accepting' ,toggle_text: 'You are friends', toggle_href: accept_path(user), id: user.id } %>
    <%else%>
    <%= link_to "Add Friend", invite_path(user), :method => :post, :class=>"friend btn btn-info", remote: true, data: { disable_with: 'adding' ,toggle_text: 'Friend request send', toggle_href: invite_path(user), id: user.id } %>
    <% end %>
  </div>  
  </td>
</tr>