<div class="col-md-8 col-xs-12" >
<div class="panel panel-default">
    <!-- Data table -->
    <table data-toggle="data-table" class="table" cellspacing="0" width="100%" id="scrolling-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </tfoot>
      <tbody>
      <%= render @users%>
      </tbody>
    </table>
    <!-- // Data table -->
  </div>
  <div>
  <div class="hidden-xs">
   <%= render 'shared/uberad' %>
   </div>
</div>
  </div>

  <div class="col-md-2" style="padding-left: 30px;" >
  <div class="row">
   <%= render 'shared/add' %>
   <%= render 'shared/add' %>
    </div>
  </div>
  <div class="col-md-2" style="padding-left: 20px;" >
  <div class="row">

    <%= render 'shared/add' %>
    <%= render 'shared/add' %>

  </div>
  </div>