<div class="col-md-9" style="padding-left: 0px;
    padding-right: 0px;">      
  <div class="cover profile" style="margin-bottom: 10px;"> 
  <% flash.each do |key, value| %>
      <div class="alert alert-info alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= value %></div>
    <% end %> 
  <%= render 'users/picture_modal'%>
  <div style="position:relative;
    display:inline-block;
    text-align:center;
    "> 
    <% if @user.cover_image_url %> 
    <%= image_tag @user.cover_image_url.to_s, :class=>"img-responsive" %>
    <% else %>
    <img src="/images/cover.png" class="img-responsive">
    <% end %> 
    <% if (@user == current_user) %> 
     <a style="position:absolute;
    background-color: rgba(255, 255, 255, 0.48);
    top:10px;
    left:10px;
    " class="btn btn-cover" data-toggle="collapse" data-target="#collapseExampleuser<%=@current_user.id%>" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-pencil fa-fw"></i></a> 
    <% end %>
   <div style="position:absolute;
    background-color: rgba(255, 255, 255, 0);
    right:10px;
    bottom:50px;
    ">
     <p class="blockquote-reverse h4"><span class="follow-count" data-id="<%= @user.id %>"> <%= @user.followers_count %></span> Followers 
        </p> 
    </div>
    <div style="position:absolute;
    background-color: rgba(255, 255, 255, 0);
    right:10px;
    bottom:10px;
    ">
    <div class="btn-group">
    <% unless (@user == current_user) %>
        <div class="btn-group pull-right">
          <% if current_user.follows?(@user)  %>
          <%= link_to "Unfollow", follow_user_path(@user), method: :put, :class=>"follow btn btn-success", remote: true, data: { toggle_text: 'Follow', toggle_href: follow_user_path(@user), id: @user.id } %>
          <% else %>
          <%= link_to "Follow", follow_user_path(@user), method: :put, :class=>"follow btn btn-primary", remote: true, data: { toggle_text: 'Unfollow', toggle_href: follow_user_path(@user), id: @user.id } %>
          <% end %>
                
        </div>       
        </div>
        <div class="btn-group">
        <div class="btn-group pull-right">
          <% if current_user.friends_with?(@user)  %>
          <%= link_to "Friends",nil, :disabled=> true, :class=>"btn btn-info" %>
          <% elsif current_user.pending_friends.include?(@user) %>
          <%= link_to "Friend request send ",nil, :disabled=> true, :class=>"btn btn-info" %>
          <% elsif current_user.requested_friends.include?(@user) %>
          <%= link_to "Accept Request", accept_path(@user), :method => :post, :class =>"acceptfriend btn btn-primary",remote: true, data: { toggle_text: 'Friends',turbolinks: false , toggle_href: accept_path(@user), id: @user.id } %>
          <% else %>
          <%= link_to "Add Friend", invite_path(@user), :method => :post, :class=>"friend btn btn-info", remote: true, data: { toggle_text: 'Friend request send', toggle_href: invite_path(@user), id: @user.id } %>
          <% end %>
       
        </div>
        <%end%>
        </div>
        </div>
   </div>
 
    <div class="cover-info">
      <div class="avatar">
      <% if @user.profile_image_url %> 
        <%= image_tag @user.profile_image_url.to_s, :class=>"img-responsive" %>
        <% else %>
        <img src="/images/profile.png" class="img-responsive">
        <% end %>
      
     
      </div>
      <div class="name">
        <a class="text-capitalize">
          <%= "#{@user.first_name} #{@user.last_name}"%>
        </a>
      </div>
      <ul class="cover-nav" role="tablist">
          <li class="active"><a href="#time_line" role="tab" data-toggle="tab"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a>
          </li>
          <li><a href="#friends" role="tab" data-toggle="tab"><i class="fa fa-fw fa-users"></i> Friends</a>
          </li>
          <li><a href="#fundraise" role="tab" data-toggle="tab"><i class="fa fa-fw icon-user-1"></i>Fundrasies</a>
          </li>
          <li><a href="#campaign" role="tab" data-toggle="tab"><i class="fa fa-fw icon-user-1"></i>Campaign</a>
          </li>      
      </ul>
            
    </div>
  </div>
  <div class="tab-content" style="padding: 0px;">
  <div class="tab-pane fade" id="fundraise" >
    <% if @user.fundraises.empty? %>
    <div class="ibox-title" style="background-color: white;">
          <h1 class="title pull-left" style="margin-top: 10px;
        margin-bottom: 10px; margin-left: 10px;">
            You have not created any fundraise 
          </h1>
        
            <%= link_to "Start a Fundraise", new_fundraise_path, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-primary pull-right ', :style=> "margin-top: 10px;
    margin-right: 10px;"%>
         
          <div class="clearfix"></div>
       
    </div>

<% else %>
    <%= render :partial => 'fundraises/fundraise', :collection => @user.fundraises%>
<%end%>    
  </div>
  <div class="tab-pane fade" id="campaign" >
  <% if @user.campaigns.empty? %>
    <div class="ibox-title" style="background-color: white;">
          <h1 class="title pull-left" style="margin-top: 10px;
        margin-bottom: 10px; margin-left: 10px;">
            You have not created any campaign 
          </h1>
        
            <%= link_to "Start a Campaign", new_campaign_path, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-primary pull-right ', :style=> "margin-top: 10px;
    margin-right: 10px;"%>
         
          <div class="clearfix"></div>
       
    </div>

<% else %>
    <%= render :partial => 'campaigns/campaign', :collection => @user.campaigns%>
<%end%>    
  </div> 
  <div class="tab-pane fade" id="friends">    
    <%= render 'users/friends'%>
    </div> 
  <div class="tab-pane active" id="time_line" > 
    <div class="col-md-6" style="padding-left: 0px; padding-right: 8px;">
        <div class="panel panel-default" style="margin-bottom: 10px;"">
            <div class="panel-heading panel-heading-gray">
            <% if (@user == current_user) %>
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe , edit_user_path(@user), :class=>"btn btn-white btn-xs pull-right",data: {  turbolinks: false } %>
            <% end %>    
                <i class="fa fa-info-circle"></i> About
            </div>
            <div class="panel-body">
                <ul class="list-unstyled profile-about">
                    <li>
                        <div class="row">
                            <div class="col-sm-4"><span class="text-muted">Full Name</span>
                            </div>
                            <div class="col-sm-8 text-capitalize"><%= full_name(@user) %></div>
                        </div>
                    </li>
                     
                    <li>
                        <div class="row">
                            <div class="col-sm-4"><span class="text-muted">Email</span>
                            </div>
                            <div class="col-sm-8 text-capitalize"><%= @user.email %></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <% if @user.organizations.any? %>
        <h3 class="margin-none text-capitalize text-center" style="background-color:white;;padding-bottom:5px;">Organizations</h3>
        
        <%= render :partial => 'organizations/organization', :collection => @user.organizations%>
        <% end %>
    </div> 
      <div class="col-md-6 " style="padding-left: 0px; padding-right: 3px;" id="scrolling">
        <%= render :partial => 'shared/post', :collection => @posts%>
      </div> 
    </div>                      
  </div>
</div>
<div class="col-md-3" style="padding-left: 30px;
    padding-right: 0px;">
    <div class="row">
  <% (1..5).each do |i| %>

    <%= render 'shared/add' %>
  <% end %>
  </div>
    </div>
    
 
              
            
      














       
         




    




