<div class="hidden-xs">
<% @major_causes.each do |cause|%>
  <% if @major_causes.index(cause).even? %>
     <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                  
                    <h2 class="section-heading text-capitalize"><%= cause.subject %></h2>
                    <p class="lead"><%= cause.small_description %></p>
                    <p class="lead"><%= cause.description %></p>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-6">
                    <% if cause.image_url %> 
                        <%= image_tag(cause.image_url(:normal), :class=>"img-responsive", :style=>"padding:5px;")%>
                      <% else %>
                        <img src="/images/default.png" alt="image" class="img-responsive" />
                      <% end %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <% else %>
      <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-push-6  col-sm-6">
                  
                    <h2 class="section-heading text-capitalize"><%= cause.subject %></h2>
                    <p class="lead"><%= cause.small_description %></p>
                    <p class="lead"><%= cause.description %></p>
                </div>
                <div class="col-md-5 col-sm-pull-6  col-sm-6">
                     <% if cause.image_url %> 
                        <%= image_tag(cause.image_url(:normal), :class=>"img-responsive", :style=>"padding:5px;")%>
                      <% else %>
                        <img src="/images/default.png" alt="image" class="img-responsive" />
                      <% end %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
  <% end %>  
<% end %>
 
   <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <p class="copyright text-muted small">Copyright &copy; takestand. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>    