<div class="timeline-block">
  <div class="panel panel-default" style="margin-bottom: 10px;border-radius: 2px;">
    <div class="panel-heading" style="border-radius: 2px;">
      <div class="media">
        <a href="" class="pull-left">
          <img src="/images/people/50/woman-5.jpg" class="media-object">
        </a>
        <div class="media-body">
          <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
          <%= link_to "#{full_name(post.user)}", user_path(post.user), :class=>"text-capitalize"%>
          
          <span>posted <%= time_ago_in_words(post.created_at) %> ago</span>
        </div>
      </div>
    </div> 
    <div style="margin-bottom: 5px;margin-top: 5px;;margin-left: 5px;">
    <%if post.mentionees(User).any?%>
    with <%post.mentionees(User).each do |user|%>

      <%= link_to "#{full_name(user)}", user_path(user), :class=>"text-capitalize"%>
      <%end%>
      <%end%>
      <p ><%=post.description%></p>
      </div>
    <%= image_tag post.image_url.to_s, :class=>"img-responsive", :style=> "padding: 10px;" %>  
    <div class="btn-group btn-group-footer btn-group-justified" style="    border-bottom: 1px solid #eeeeee;">
    <% if current_user.likes?(post)%>
    <%= link_to '<i class="fa fa-heart"></i>  Unlike'.html_safe, post_like_path(
      :post_id => post.id),:method => :post, :class=>"btn" %>
    <%else%>
      <%= link_to '<i class="fa fa-heart"></i>  Like'.html_safe, post_like_path(
      :post_id => post.id),:method => :post, :class=>"btn" %>
      <%end%>
      <a href="#" class="btn"><i class="fa fa-user"></i> Share</a>
    </div>
    <div class="view-all-comments">
    	 <%= post.comments.count%> comments <%= post.likers_count%>  likes
       <a data-toggle="collapse" data-target="#collapseExample<%=post.id%>" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-comments-o">  </i> View all or Write a Comment</a>
        
  	</div>   
    <div class="collapse" id="collapseExample<%=post.id%>">
      <ul class="comments">
        <%post.comments.each do |comment|%>
	        <li>
	          <div class="media">
	            <a href="" class="pull-left">
	              <img src="/images/people/50/guy-5.jpg" class="media-object">
	            </a>
	            <div class="media-body">
	              <a href="" class="comment-author"><%= comment.user.first_name %></a>
	              <span><%= comment.description %></span>
	              <div class="comment-date">21st September
	              </div>
	            </div>
	          </div>
	        </li>
	      <%end%>  	        
        <li class="comment-form">                                           
          <%= form_for @comment do |f| %>                      
            <div class="input-group">  
              <%= hidden_field_tag 'post_id', post.id %> 
              <%= f.text_field :description, class: 'form-control', :placeholder=>"write a comment" %>
              <span class="input-group-btn">          
              	<%= f.submit "Comment", class: "btn btn-primary" %>
 						  </span>
            </div>
          <% end %>      
        </li>        
      </ul>
    </div>
  </div>
</div>