<div class="timeline-block">
  <div class="panel panel-default" style="margin-bottom: 10px;border-radius: 2px;">
    <div class="panel-heading" style="border-radius: 2px;">
      <div class="media">
        <a href="" class="pull-left">
        
        <% if post.user.profile_image_url %> 
            <%= image_tag(post.user.profile_image_url(:thumb), :class => "pull-left") %>
            <% else %>
            <img src="/images/profile.png" class="media-object" width="40">
                <% end %>
          
        </a>
        <div class="media-body">
          <% if (post.user == current_user) %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe , edit_post_path(post), data: { turbolinks: false }, :class => "btn btn-cover pull-right", :style=>"padding-top:2px;" %> 
          <% end %>
          <%= link_to "#{full_name(post.user)}", user_path(post.user), :class=>"text-capitalize"%>
          
          <span>posted <%= time_ago_in_words(post.created_at) %> ago</span>
        </div>
      </div>
    </div> 
    <div style="margin-bottom: 5px;margin-top: 5px;;margin-left: 5px;">
    <%if post.mentionees(User).any?%>
    with <%post.mentionees(User).each do |user|%>

      <%= link_to "#{full_name(user)}", user_path(user), :class=>"text-capitalize"%>
      <%end%>
      <%end%>
      <p ><%=post.description%></p>
      </div>
      <%= link_to post_path(post) do %>
      <%if post.image_url %>
    <%= image_tag post.image_url.to_s, :class=>"img-responsive", :style=> "padding: 10px;" %>
    <%end%>
    <% end %>
    <div class="collapse" id="1collapseExample<%=post.id%>" style= "padding-left:10px;padding-bottom:5px;" >
     <%= social_share_button_tag(post.description, :url => request.original_url ) %>  </div>
    <div class="btn-group btn-group-footer btn-group-justified" style="    border-bottom: 1px solid #eeeeee;">
    <% if current_user.likes?(post)%>
    <%= link_to '<i class="fa fa-heart"></i>  Unlike'.html_safe, like_post_path(
      post), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Like', toggle_href: like_post_path(post), id: post.id }  %>
    <%else%>
      <%= link_to '<i class="fa fa-heart"></i>  Like'.html_safe, like_post_path(
      post), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Unlike', toggle_href: like_post_path(post), id: post.id }  %>
      <%end%>
      <a class="btn" data-toggle="collapse" data-target="#1collapseExample<%=post.id%>" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-user"></i> Share</a>
    </div>
    <div class="view-all-comments">
    	 <%= post.comments.count%> comments <span class="votes-count" data-id="<%= post.id %>"> <%= post.likers_count%></span>  likes
       <a data-toggle="collapse" data-target="#collapseExample<%=post.id%>" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-comments-o">  </i> View all or Write a Comment</a>
        
  	</div>   
    <div class="collapse" id="collapseExample<%=post.id%>">
      <ul class="comments">
      <div id="comments<%=post.id%>">
        <%= render :partial => 'comments/comment', :collection => post.comments %>  	
      </div>          
        <li class="comment-form">                                           
          <%= form_for(@comment, remote: true) do |f| %> 
           <div class="container-fluid collapse" id="collapseExample2<%=post.id%>" style="padding-bottom:10px;">
              <div class="form-group" >
                <label class="col-sm-3 control-label">Tag friends</label>
                <div class="col-sm-9">
                  <%= f.select(:user_id, @all_user.collect {|c| [c.first_name, c.id]},{},
                     { :multiple => true, :size => 5,:class=>"selectpicker","data-live-search" =>"true","multiple data-style"=>"btn-white" }
                   ) %>
                </div>
              </div>
            </div>                     
            <div class="input-group panel-footer share-buttons">  
              <%= hidden_field_tag 'post_id', post.id %> 
              <%= f.text_field :description, class: 'form-control', :placeholder=>"write a comment" %>
              <span class="input-group-btn"> 
              <a style="width: 120px;padding-top:0px;" data-toggle="collapse" data-target="#collapseExample2<%=post.id%>" aria-expanded="false" aria-controls="collapseExample" class="btn" >
                <b>Tag Friends</b>
              </a>         
              	<%= f.submit "Comment", class: "btn btn-primary" %>
 						  </span>
            </div>
          <% end %>      
        </li>        
      </ul>
    </div>
  </div>
</div>