<tr>
  <td>
  <% if user.profile_image_url %> 
    <%= image_tag(user.profile_image_url(:thumb)) %>
    <% else %>
    <img src="/images/profile.png" width="35" alt="Bill" class="img-circle" />
    <% end %>
  <%= link_to "#{user.full_name}", user_path(user), :class=>"text-capitalize" ,data: {  turbolinks: false }%></td>
  <td><%= user.email%>
  </td>
  <td>
    <% if current_user.pending_friends.include?(user) %>
     <%= link_to "Friend request send",nil ,:class=>"btn btn-info", remote: true, :disabled=> true %>
     <%elsif current_user.friends_with?(user)%>
       <% if @user == current_user %>
       <%= link_to "Remove Friend", remove_path(user), :method => :post, :class=>"friend btn btn-danger", remote: true, data: { disable_with: 'removing' ,toggle_text: 'friend removed', toggle_href: remove_path(user), id: user.id } %>
       <%else%>
         <%= link_to "Friends",nil ,:class=>"btn btn-info", remote: true, :disabled=> true %>
       <%end%>
    <% elsif current_user.requested_friends.include?(user) %>
      <%= link_to "Accept Request", accept_path(@user), :method => :post, :class =>"acceptfriend btn btn-primary",remote: true, data: { toggle_text: 'Friends',turbolinks: false , toggle_href: accept_path(@user), id: @user.id } %>
    <%else%>
    <%= link_to "Add Friend", invite_path(user), :method => :post, :class=>"friend btn btn-info", remote: true, data: { disable_with: 'adding' ,toggle_text: 'Friend request send', toggle_href: invite_path(user), id: user.id } %>
    <% end %>
  </td>
</tr>