<div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">  
  <div class="timeline-block">
	  <div class="panel panel-default share" style="margin-bottom: 10px; border-radius: 2px;">
		  <%= form_for @post, :html =>{:multipart => true} do |f| %>
	      <div class="panel-heading panel-heading-gray title" style="border-radius: 2px;">
	        What&acute;s new
	      </div>
		    <div class="panel-body">
		      <%= f.text_area :description, class: 'form-control share-text', :rows=>"3", :placeholder=>"Whats in Your Mind..." %>      
		    </div>
		    <div class="container-fluid collapse" id="tagfriendspost" style="padding-bottom:10px;">
			    <div class="form-group" >
	          <label class="col-sm-3 control-label">Tag friends</label>
	          <div class="col-sm-6">
	            <%= f.select(:user_id, @all_user.collect {|c| [c.first_name, c.id]},{},
	               { :multiple => true, :size => 5,:class=>"selectpicker","data-live-search" =>"true","multiple data-style"=>"btn-white" }
	             ) %>
	          </div>
	        </div>
        </div>
		    <div class="panel-footer share-buttons"> 
	        <%= f.file_field :image , :class=>"btn btn-sm pull-left"%>
	        <a style="width: 120px;padding-top:0px;" data-toggle="collapse" data-target="#tagfriendspost" aria-expanded="false" aria-controls="collapseExample" class="btn" >
	            <b>Tag Friends</b>
	        </a>
	        <%= f.submit "Post", :class=> "btn btn-primary btn-sm pull-right" %>
		    </div>
		  <%end%>  
      </div>
    </div>    
	<%= render :partial => 'shared/post', :collection => @posts%>
</div>
                
               
<div class="col-md-6" style="padding-left: 10px;padding-left: 3px;
    padding-right: 5px;overflow: hidden;position: relative;
">
    <div class="col-md-6" style="padding: 0px;" >
    <div style="margin-right:3px;margin-left:3px">
    <h3 class="margin-none text-capitalize text-center" style="background-color:white;padding-bottom:0px;padding-top:5px;">Top Fundraises</h3>
    </div>
    <div id="scrolling">
	<%= render :partial => 'shared/fundraise', :collection => @fundraises %>
	</div>
	<div style="margin-right:3px;margin-left:3px;margin-top:10px;">
    <h3 class="margin-none text-capitalize text-center" style="background-color:white;padding-bottom:0px;padding-top:5px;">Top Campaign</h3>
    </div>
    <div id="scrolling">
	<%= render :partial => 'shared/campaign', :collection => @campaigns %>
	</div>
	</div>
	<div class="col-md-6" style="padding: 0px;" >
	
	</div>
</div>
