<% if user_signed_in? %>
<div class="col-md-5" style="padding-left: 0px;padding-right: 0px;"> 
 <% flash.each do |key, value| %>
    <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= value %></div>
  <% end %> 
  <div class="timeline-block">
	  <div class="panel panel-default share" style="margin-bottom: 10px; border-radius: 2px;">
		  <%= form_for @post, :html =>{:multipart => true} do |f| %>
	      <div class="panel-heading panel-heading-gray title" style="border-radius: 2px;">
	        What&acute;s new
	      </div>
		    <div class="panel-body">
		      <%= f.text_area :description, class: 'form-control share-text', :rows=>"3", :placeholder=>"Whats in Your Mind..." %>      
		    </div>
		    <div class="container-fluid collapse" id="tagfriendspost" style="padding-bottom:10px;">
			    <div class="form-group" >
	          <label class="col-sm-3 control-label">Tag friends</label>
	          <div class="col-sm-6">
	            <%= f.select(:user_id, @all_user.collect {|c| [c.full_name, c.id]},{},
	               { :multiple => true, :size => 5,:class=>"selectpicker","data-live-search" =>"true","multiple data-style"=>"btn-white" }
	             ) %>
	          </div>
	        </div>
        </div>
		    <div class="panel-footer share-buttons"> 
	        <%= f.file_field :image , :class=>"btn btn-sm pull-left"%>
	        <a style="width: 120px;padding-top:0px;" data-toggle="collapse" data-target="#tagfriendspost" aria-expanded="false" aria-controls="collapseExample" class="btn" >
	            <b>Tag Friends</b>
	        </a>
	        <%= f.submit "Post", :class=> "btn btn-primary btn-sm pull-right" %>
		    </div>
		  <%end%>  
      </div>
    </div>    
	<%= render :partial => 'shared/post', :collection => @posts%>
</div>
                
               
<div class="col-md-7" style="padding-left: 10px;padding-left: 3px;
    padding-right: 5px;overflow: hidden;position: relative;">
  <div class="col-md-5" style="padding: 0px;" >
    <% if @fundraises.any? %>
    <div style="margin-left:3px;margin-right: 10px;">
      <h3 class="margin-none text-capitalize text-center" style="background-color:white;padding-bottom:0px;padding-top:5px;">Top Fundraises</h3>
    </div>
    <div id="scrolling">
	  <%= render :partial => 'shared/fundraise', :collection => @fundraises %>
	  </div>
     <div style="margin-top:5px;margin-left:3px;">
      <center>
      <%= link_to "See All", fundraises_path , data: { turbolinks: false }, :class=>"media btn btn-primary btn-block"%>
        </center>
      </div>
	  <% end %>
    <div class="col-md-12" style="padding-top:10px;">
    <% (1..2).each do |i| %>
   <%= render 'shared/add' %>
   <% end %>
   </div>
	</div>
    <div class="col-md-7" style="padding: 5px;" >
      <div style="margin-left:3px;margin-right: 10px;">
      <h3 class="margin-none text-capitalize text-center" style="background-color:white;padding-bottom:0px;padding-top:5px;">Find Friends</h3>
    </div>
    <ul  role="notification" style="background-color:white; padding-left:5px;margin-left:3px;margin-right: 10px;margin-bottom:5px;">
      <div id="scrolling-friends">
        <% @suggested_friends.each do |friend| %>
        <li class="media" style="margin-top:0px;" >
          <div class="pull-right friend-message" data-id="<%= friend.id %>", style= "padding-right:10px;padding-top:15px;">
            <% if current_user.pending_friends.include?(friend) %>
             <%= link_to "Sent",nil ,:class=>"btn btn-info btn-sm", remote: true, :disabled=> true %>
             <% elsif current_user.requested_friends.include?(friend) %>
            <%= link_to "Accept Request", accept_path(friend), :method => :post, :class=>"acceptfriend btn btn-primary  btn-sm", remote: true, data: { disable_with: 'accepting' ,toggle_text: 'You are friends', toggle_href: accept_path(friend), id: friend.id } %>
            <%else%>
            <%= link_to "Add Friend", invite_path(friend), :method => :post, :class=>"friend btn btn-info  btn-sm", remote: true, data: { disable_with: 'adding' ,toggle_text: 'Friend request send', toggle_href: invite_path(friend), id: friend.id } %>
            <% end %>
          </div>
          <div class="media-left">
            <img src="/images/profile.png" alt="people" class="img-circle" width="30">
          </div>
          <div class="media-body">
            <%=link_to "#{full_name(friend)}" , user_path(friend), data: { turbolinks: false } %>
          </div>
        </li>
        <%end%>
       </div> 
      
    </ul>

      <center>
      <%= link_to "Find More Friends", users_path , data: { turbolinks: false }, :class=>"media btn btn-primary btn-block", :style=>"margin-right: 10px;margin-bottom:5px;"%>
        </center>
     <div style="padding-left: 20px;" > 
  <div class="row">
   <% (1..@posts.count).each do |i| %>
   <%= render 'shared/profile' %>
   <% end %>
    </div>
    </div>
  </div>
  

</div>
<% else %>
<div class="login" style="padding-bottom:100px;">
  <div class="container-fluid">
 
    <div class="row">
<div class="col-md-6" style="padding-bottom:20px;">
<%= render 'shared/signup' %>
</div>
<div class="col-md-6">
<%= render 'shared/login' %>
</div>
 </div>
  </div>
</div> 
<%= render 'shared/main_page_footer'%>
<% end %>
