<div class="col-md-6" style="padding-left: 0px;padding-right: 0px;">
  <div class="timeline-block">
		<div class="panel panel-default share">
	    <div class="panel-heading panel-heading-gray title">
	      What&acute;s new
	    </div>
      <%= form_for @post, :html =>{:multipart => true} do |f| %>
		    <div class="panel-body">
		    <%= f.text_area :description, class: 'form-control share-text', :rows=>"3", :placeholder=>"Whats in Your Mind..." %>
		       
		    </div>
		    <div class="panel-footer share-buttons">
		       
		        <%= f.file_field :image , :class=>"btn btn-default btn-sm pull-left"%>
		        <a href="#">
		            
		        </a>
		        <%= f.submit "Post", :class=> "btn btn-primary btn-sm pull-right" %>
		        
		    </div>
	    <%end%>
		</div>
	</div>
	<%= render :partial => 'shared/post', :collection => @posts%>
</div>
                
               
<div class="col-md-6">
	<%= render 'users/timeline'%>
	<%= render 'users/timeline'%>
</div>
