<div class="col-md-9" style="padding:0px;">
  <div class="panel panel-default" style="margin-bottom: 10px;border-radius: 2px;">
    <div class="panel-body" style="padding-bottom:0px;padding-top:10px;">
      <center>
        <h3 class = "margin-none text-uppercase"><b><%=@post.subject%></b></h3> 
      </center>
      <div class="media">
        <div class="media-object pull-left">
          <% if @post.image_url %> 
            <%= image_tag @post.image_url :normal, :class=>"img-responsive", :style=>"padding:5px;"%>
          <% else %>
            <img src="/images/food1-full.jpg" alt="image" class="img-responsive" style="padding:5px;" />
          <% end %>
          
        </div>
        <div class="media-body">
          
          <h3 class = "margin-none text-capitaize"><%=@post.description%></h3>
          <br><br><br>
          <h3><span class="votes-count" data-id="<%= @post.id %>"><%= @post.likers_count %></span> Likes</h3>     
        </div>
      </div>
      <div class="collapse" id="1collapseExample<%=@post.id%>" style= "padding-left:10px;padding-bottom:5px;padding-top:10px;" >
     <%= social_share_button_tag(@post.description, :url => request.original_url ) %>  
     </div>
      <div class="btn-group btn-group-footer btn-group-justified" style="margin-top:10px;">
        <% if current_user.likes?(@post)  %>
        <%= link_to '<i class="fa fa-heart"></i>Unlike'.html_safe, like_post_path(@post), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Like', toggle_href: like_post_path(@post), id: @post.id } %>
        <% else %>
        <%= link_to '<i class="fa fa-heart"></i>Like'.html_safe, like_post_path(@post), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Unlike', toggle_href: like_post_path(@post), id: @post.id } %>
        <% end %>                
        <a data-toggle="collapse" data-target="#1collapseExample<%=@post.id%>" aria-expanded="false" aria-controls="collapseExample" class="btn"><i class="fa fa-user"></i> Share</a>
      </div>
      <div class="view-all-comments">
       <%= @post.comments.count%> comments <span class="votes-count" data-id="<%= @post.id %>"> <%= @post.likers_count%></span>  likes
       <a data-toggle="collapse" data-target="#collapseExample<%=@post.id%>" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-comments-o">  </i> View all or Write a Comment</a>
        
    </div>   
    <div class="collapse" id="collapseExample<%=@post.id%>">
      <ul class="comments">
        <%@post.comments.each do |comment|%>
          <li>
            <div class="media">
              <a href="" class="pull-left">
                <img src="/images/people/50/guy-5.jpg" class="media-object">
              </a>
              <div class="media-body">
                <a href="" class="comment-author"><%= comment.user.first_name %></a>
                <span><%= comment.description %></span>
                <div class="comment-date">21st September
                </div>
              </div>
            </div>
          </li>
        <%end%>           
        <li class="comment-form">                                           
          <%= form_for @comment do |f| %>                      
            <div class="input-group">  
              <%= hidden_field_tag 'post_id', @post.id %> 
              <%= f.text_field :description, class: 'form-control', :placeholder=>"write a comment" %>
              <span class="input-group-btn">          
                <%= f.submit "Comment", class: "btn btn-primary" %>
              </span>
            </div>
          <% end %>      
        </li>        
      </ul>
    </div>
    </div>
  </div>
</div>