<div class="col-md-4 animated pulse" style="margin-top:7px;padding:0px;">
  <div style="margin-right:3px;margin-left:3px;background-color:white;padding:5px;">
    <%= link_to  campaign_path(campaign),data: {  turbolinks: false } do %>
      <% if campaign.image_url %>
      
        <%= image_tag(campaign.image_url(:medium), :class=>"img-responsive")%>
        
      <% else %>
         <img src="/images/default.png" class="img-responsive" style="height: 194px;">
      <% end %>
    <% end %>  
    <div style="padding-left:10px;padding-right:10px;">
      <h5 class="text-capitalize" ><%= link_to "#{campaign.subject}" , campaign_path(campaign), data: { turbolinks: false }%></h5>
      <p >by
        <%= link_to "#{full_name(campaign.users.first)}", user_path(campaign.users.first), :class=> "text-capitalize",data: {  turbolinks: false }%>
      </p>
      <p class="text-capitalize"><%=campaign.description%></p>
      <div class="numbers clearfix text-center">
        <div class="col-md-6 backers pull-left " style="padding:5px;">
            <i class="fa fa-lg fa-heart"></i>
            <span class="votes-count" data-id="<%= campaign.id %>"><%= campaign.likers_count %></span><p style="margin:0px;">Likes</p>
        </div>
        <div class="col-md-6 trophy pull-left " style="padding:5px;">
          <i class="fa fa-lg fa-user"></i><span><span class="follow-count" data-id="<%= campaign.id %>"> <%= campaign.followers_count %></span><p style="margin:0px;">Followers</p></span>
        </div>
      </div> 
      <div class="collapse" id="1collapseExample<%=campaign.id%>" style= "padding-left:10px;padding-bottom:5px;padding-top:10px;" >
     <%= social_share_button_tag(campaign.description, :url => request.original_url ) %>  
     </div>
      <div class="btn-group btn-group-footer btn-group-justified" >
        <% if current_user.likes?(campaign)  %>
          <%= link_to '<i class="fa fa-heart"></i>Unlike'.html_safe, like_campaign_path(campaign), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Like', toggle_href: like_campaign_path(campaign), id: campaign.id } %>
        <% else %>
          <%= link_to '<i class="fa fa-heart"></i>Like'.html_safe, like_campaign_path(campaign), method: :put, :class=>"vote btn", remote: true, data: { toggle_text: 'Unlike', toggle_href: like_campaign_path(campaign), id: campaign.id } %>
        <% end %>
        <% if current_user.follows?(campaign)  %>
          <%= link_to '<i class="fa fa-user"></i> Unfollow'.html_safe, follow_campaign_path(campaign), method: :put, :class=>"follow btn",:style=> "padding-left: 4px;", remote: true, data: { toggle_text: 'Follow', toggle_href: follow_campaign_path(campaign), id: campaign.id } %>
        <% else %>
          <%= link_to '<i class="fa fa-user"></i> Follow'.html_safe, follow_campaign_path(campaign), method: :put, :class=>"follow btn", remote: true, data: { toggle_text: 'Unfollow', toggle_href: follow_campaign_path(campaign), id: campaign.id } %>
        <% end %>
        
        <a data-toggle="collapse" data-target="#1collapseExample<%=campaign.id%>" aria-expanded="false" aria-controls="collapseExample" class="btn"><i class="fa fa-user"></i> Share</a>
      </div>                    
    </div>
  </div>
</div>
