<div class="timeline-block">
  <div class="panel panel-default widget-user-1 text-center">
    
     <h3 class="margin-none" style="padding-top:10px;"><%= link_to "#{organization.name}" , organization_path(organization), data: { turbolinks: false }, :class=> "text-capitalize"%></h3>
     <div class="avatar" style="padding-top:10px;padding-bottom:0px;">
     <%= link_to  organization_path(organization),data: {  turbolinks: false } do %>
    <% if organization.profile_image_url %> 
      <%= image_tag(organization.profile_image_url(:organization), :class=>"img-responsive")%>
    <% else %>
       <img src="/images/default.png" alt="" class="img-responsive">
    <% end %>
    <% end %>
    </div>
    <div style="padding-bottom:10px;">
       <% if current_user.likes?(organization)%>
        <%= link_to 'Unlike'.html_safe,like_organization_path(organization), method: :put, :class=>"vote btn btn-danger", remote: true, data: { toggle_text: 'Like', toggle_href: like_organization_path(organization), id: organization.id } %>
        <%else%>
        <%= link_to 'Like'.html_safe,like_organization_path(organization), method: :put, :class=>"vote btn btn-success", remote: true, data: { toggle_text: 'Unlike', toggle_href: like_organization_path(organization), id: organization.id } %>
        <%end%>
        <% if current_user.follows?(organization)%>
        <%= link_to 'UnFollow'.html_safe,follow_organization_path(organization), method: :put, :class=>"follow btn btn-danger", remote: true, data: { toggle_text: 'Follow', toggle_href: follow_organization_path(organization), id: organization.id } %>
        <%else%>
        <%= link_to 'Follow'.html_safe,follow_organization_path(organization), method: :put, :class=>"follow btn btn-success", remote: true, data: { toggle_text: 'Unfollow', toggle_href: follow_organization_path(organization), id: organization.id } %>
        <%end%>
    </div>
    <div class="profile-icons margin-none">
      <span><i class="fa fa-heart"></i><span class="votes-count" data-id="<%= organization.id %>"><%= organization.likers_count %></span></span>
      <span><i class="fa fa-user"></i> <span class="follow-count" data-id="<%= organization.id %>"> <%= organization.followers_count %></span></span>
      <span><i class="fa fa-users"></i> <%= organization.organization_users.count %></span>
    </div>
    <div class="panel-body" style="padding-bottom:0px;">
      <div class="expandable expandable-indicator-white expandable-trigger">
        
          <p><%= organization.description %></p>
          
      </div>
    </div>
  </div>
</div>  