<div class="timeline-block">
  <div class="panel panel-default widget-user-1 text-center">
    
     <h3 class="margin-none" style="padding-top:10px;"><%= link_to "#{organization.name}" , organization_path(organization), data: { turbolinks: false }, :class=> "text-capitalize"%></h3>
     <div class="avatar">
    <% if organization.profile_image_url %> 
      <%= image_tag organization.profile_image_url :organization, :class=>"img-circle pull-left img-responsive"%>
    <% else %>
       <img src="/images/people/110/guy-5.jpg" alt="" class="img-circle pull-left">
    <% end %>
    </div>
    <div style="padding-bottom:10px;">
        <% if current_user.follows?(organization)%>
        <%= link_to '<i class="fa fa-check-circle fa-fw"></i>UnFollow'.html_safe,follow_organization_path(:organization_id => organization.id), :method => :post, :class=>"btn btn-danger" %>
        <%else%>
        <%= link_to '<i class="fa fa-check-circle fa-fw"></i>Follow'.html_safe,follow_organization_path(:organization_id => organization.id), :method => :post, :class=>"btn btn-success" %>
        <%end%>
        <% if current_user.likes?(organization)%>
        <%= link_to '<i class="fa fa-check-circle fa-fw"></i>Unlike'.html_safe,like_organization_path(:organization_id => organization.id), :method => :post, :class=>"btn btn-danger" %>
        <%else%>
        <%= link_to '<i class="fa fa-check-circle fa-fw"></i>Like'.html_safe,like_organization_path(:organization_id => organization.id), :method => :post, :class=>"btn btn-success" %>
        <%end%>
    </div>
    <div class="profile-icons margin-none">
      <span><i class="fa fa-heart"></i> <%= organization.likers_count %></span>
      <span><i class="fa fa-user"></i> <%= organization.followers_count %></span>
      <span><i class="fa fa-users"></i> 372</span>
    </div>
    <div class="panel-body" style="padding-bottom:0px;">
      <div class="expandable expandable-indicator-white expandable-trigger">
        
          <p><%= organization.description %></p>
          
      </div>
    </div>
  </div>
</div>  