<div class="col-md-9" style="padding:0px;">
<% if @users.empty? %>
<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        Don't have friends 
      </h1>
    
        <%= link_to "Find Friends", users_path, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-primary pull-right', :style=> "margin-top: 10px;
    margin-right: 20px;"%>
     
      <div class="clearfix"></div>
   
</div>

<% else %>


<div class="panel panel-default">
    <!-- Data table -->
    <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </tfoot>
      <tbody>
      <% @users.each do |user|%>
      <tr>
  <td>
  <% if user.profile_image_url %> 
    <%= image_tag(user.profile_image_url(:thumb)) %>
    <% else %>
    <img src="/images/profile.png" width="35" class="img-circle" />
  <% end %>
  <%= link_to "#{user.full_name}", user_path(user), :class=>"text-capitalize" %></td>
  <td><%= user.email%>
  </td>
  <td>
    <%unless user.organization_users.where(:organization_id => @organization_id).present?%>
    <%= link_to "Invite", organization_invite_path(:user_id => user.id, :organization_id => @organization_id), :method => :post, :class=>"btn btn-primary",data: {  turbolinks: false } %>
    <%else%>
    <a class="btn btn-danger"> Invitation Send</a>
    <%end%>
  </td>
</tr>
      <%end%>
      </tbody>
    </table>
    <!-- // Data table -->
  </div>
  </div>
<%end%>  
 <div class="col-md-3" style="padding-left: 0px;
    padding-right: 0px;">
    

  <% (1..2).each do |i| %>
<div class="col-md-6">
    <%= render 'shared/120x600' %>
    </div>
    <div class="col-md-6" style="padding-left: 5px;">
    <%= render 'shared/120x600' %>
      </div>
  <% end %>

    </div>  