<% if request.original_url.include?("/chat_rooms")%>
<div class="sidebar sidebar-chat left sidebar-size-2 sidebar-offset-2 chat-skin-white sidebar-visible-desktop" style="bottom:0px;background-color:#f5f5f5;">
      <div class="split-vertical">
        <div class="chat-search" style="background-color:#bbbbbb;">
          <input type="text" class="form-control" placeholder="Search" />
        </div>

        <ul class="chat-filter nav nav-pills ">
          <li class="active"><a href="#" data-target="li">All</a></li>
          <li><a href="#" data-target=".online">Online</a></li>
          <li><a href="#" data-target=".offline">Offline</a></li>
        </ul>
        <div class="split-vertical-body">
          <div class="split-vertical-cell">
            <div data-scrollable>
              <ul class="chat-contacts">
              <% chat_rooms.each do |chat_room|%>
              <%friend = reject_current_user(chat_room) %>
                <% if friend.online? %>  
                <li class="online">
                
                  <%= link_to chat_room_path(chat_room), data: { turbolinks: false } do  %>        
                    <div class="media" style="height: 45px;">
                      <div class="pull-left" style="padding-top: 8px;padding-bottom: 7px;">
                        <span class="status" style="margin-top: 12px;"></span>
                        <% if friend.profile_image_url %> 
                          <%= image_tag(friend.profile_image_url(:thumb), :class=>"img-circle" , :width=>"30") %>
                          <% else %>
                          <img src="/images/people/50/guy-5.jpg" width="30" alt="Bill" class="img-circle" />
                          <% end %>
                      </div>
                      <div class="media-body">

                        <div class="contact-name text-capitalize"><%= full_name(friend) %></div>
                        
                      </div>
                    </div>
                  <%end%>
                </li>
                <% else %>
                  <li class="offline">
                  <%= link_to chat_room_path(chat_room), data: { turbolinks: false } do  %>
                    <div class="media" style="height: 45px;">
                      <div class="pull-left" style="padding-top: 8px;padding-bottom: 7px;">
                        <span class="status" style="margin-top: 12px;"></span>
                        <% if friend.profile_image_url %> 
                          <%= image_tag(friend.profile_image_url(:thumb), :class=>"img-circle" , :width=>"30") %>
                          <% else %>
                          <img src="/images/people/50/guy-5.jpg" width="30" alt="Bill" class="img-circle" />
                          <% end %>
                      </div>
                      <div class="media-body">

                        <div class="contact-name text-capitalize"><%= full_name(friend) %></div>
                        
                      </div>
                    </div>
                  <%end%>
                </li>
                <%end%>
                <%end%>
             
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<%end%>