<div class="sidebar left sidebar-size-2 sidebar-offset-0 sidebar-skin-blue sidebar-visible-desktop" id=sidebar-menu data-type=collapse>
  <div class="split-vertical">    
    <div class="split-vertical-body">
      <div class="split-vertical-cell">
        <div class="tab-content">
          <div class="tab-pane active" id="sidebar-tabs-menu">
            <div data-scrollable>
              <ul class="sidebar-menu sm-icons-right sm-icons-block">
                <li class="active">
                <%= link_to '<i class="fa fa-home"></i> <span>Home</span>'.html_safe, root_path %></li>
                <li><%= link_to '<i class="fa fa-user"></i> <span>Profile</span>'.html_safe, user_path(current_user) %></li>
                <li><%= link_to '<i class="fa fa-comments"></i> <span>Chat with Friends</span>'.html_safe, chat_rooms_path %></li></li>
              </ul>
              <h4 class="category">Components</h4>
              <ul class="sidebar-menu sm-bordered sm-active-item-bg">
                                                                                                                        
                <li class="hasSubmenu ">
                    <a href="#causes" data-toggle="collapse"><i class="icon-paint-brushes"></i>Causes</a>
                    <ul class="collapse " id="causes">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Causes'.html_safe, causes_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Add a Cause'.html_safe, new_cause_path %>
                        </li>
                    </ul>
                </li>
                <li class="hasSubmenu ">
                    <a href="#fundraises" data-toggle="collapse"><i class="icon-paint-brushes"></i>Fundraisess</a>
                    <ul class="collapse " id="fundraises">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Fundraises'.html_safe, fundraises_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Start a Fundraise'.html_safe, new_fundraise_path %>
                        </li>
                    </ul>
                </li>
                <li class="hasSubmenu ">
                    <a href="#jobs" data-toggle="collapse"><i class="icon-paint-brushes"></i>jobs</a>
                    <ul class="collapse " id="jobs">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All jobs'.html_safe, jobs_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Create a Job'.html_safe, new_job_path %>
                        </li>
                    </ul>
                </li>                
                <li class="hasSubmenu ">
                    <a href="#organizations" data-toggle="collapse"><i class="icon-paint-brushes"></i>Organizations</a>
                    <ul class="collapse " id="organizations">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Organizations'.html_safe, organizations_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Start a Organization'.html_safe, new_organization_path %>
                        </li>
                    </ul>
                </li>
                <li class="hasSubmenu ">
                    <a href="#campaigns" data-toggle="collapse"><i class="icon-paint-brushes"></i>Campaigns</a>
                    <ul class="collapse " id="campaigns">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Campaigns'.html_safe, campaigns_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Start a Campaigns'.html_safe, new_campaign_path %>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <%= link_to '<i class="fa fa-group"></i>Find Friends'.html_safe, users_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  