<div class="sidebar left sidebar-size-2 sidebar-offset-0 sidebar-skin-blue sidebar-visible-desktop" id=sidebar-menu data-type=collapse style="background-color:#e2e2e2;border-right-width: 0px;">
  <div class="split-vertical">    
    <div class="split-vertical-body">
      <div class="split-vertical-cell">
        <div class="tab-content">
          <div class="tab-pane active" id="sidebar-tabs-menu">
            <div data-scrollable>
              <ul class="sidebar-menu" style="padding-top: 10px;border-bottom-width: 0px;">
                <li>
                <%= link_to '<i class="fa fa-home"></i> <span>Home</span>'.html_safe, root_path, data: { turbolinks: false } %></li>
                <li><%= link_to '<i class="fa fa-user"></i> <span>Profile</span>'.html_safe, user_path(current_user), data: { turbolinks: false } %></li>
                <li class="visible-lg"><%= link_to '<i class="fa fa-comments"></i> <span>Chat with Friends</span>'.html_safe, chat_rooms_path, data: { turbolinks: false } %></li>
                <li>
                  <%= link_to '<i class="fa fa-group"></i>Find Friends'.html_safe, users_path, data: { turbolinks: false } %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-plus"></i>Start a Fundraiser'.html_safe, new_fundraise_path, data: { turbolinks: false } %>
                </li>
              </ul>
              <ul class="sidebar-menu sm-active-item-bg" style="border-bottom-width: 0px;">                            
                <li class="padding">
                  <%= link_to '<i class="icon-circle-chevron-right pull-right"></i><b>All Fundraisers</b>'.html_safe, fundraises_path, data: { turbolinks: false } %>
                </li>
                <li>
                <%current_user.fundraises.each do |fundraise|%>
                  <%= link_to fundraise_path(fundraise), data: { turbolinks: false } do %>
                    <i class="fa fa-money"></i><%=fundraise.subject%>
                  <%end%>
                 <%end%>  
                </li>
                <li>
                  <%= link_to '<i class="fa fa-plus"></i>Start a Fundraiser'.html_safe, new_fundraise_path, data: { turbolinks: false } %>
                </li>
                
                <li class="padding">
                  <%= link_to '<i class="icon-circle-chevron-right pull-right"></i><b>All Causes</b>'.html_safe, causes_path, data: { turbolinks: false } %>   
                </li> 
                <li>
                  <%= link_to '<i class="fa fa-plus"></i>Add a Cause'.html_safe, new_cause_path, data: { turbolinks: false } %>
                </li> 
                <li class="padding">
                  <%= link_to '<i class="icon-circle-chevron-right pull-right"></i><b>My Fundraisers</b>'.html_safe, my_fundraises_path, data: { turbolinks: false } %>   
                </li>               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  