<div class="sidebar left hidden-xs" style="width: 200px;">

<%= link_to "Eachonehappy", pages_home_path, :id =>"brand", :style=>"width: 200px;" %>
       
        <div id="menu" data-scrollable>
            <ul>
                
                
                
                <li class="hasSubmenu ">
                    <a href="#causes" data-toggle="collapse"><i class="icon-paint-brushes"></i>Causes</a>
                    <ul class="collapse " id="causes">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Causes'.html_safe, causes_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Add a Cause'.html_safe, new_cause_path %>
                        </li>
                    </ul>
                </li>
                <li class="hasSubmenu ">
                    <a href="#fundraises" data-toggle="collapse"><i class="icon-paint-brushes"></i>Fundraisess</a>
                    <ul class="collapse " id="fundraises">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Fundraises'.html_safe, fundraises_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Start a Fundraise'.html_safe, new_fundraise_path %>
                        </li>
                    </ul>
                </li>

                
                <li class="hasSubmenu ">
                    <a href="#jobs" data-toggle="collapse"><i class="icon-paint-brushes"></i>jobs</a>
                    <ul class="collapse " id="jobs">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All jobs'.html_safe, jobs_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Create a Job'.html_safe, new_job_path %>
                        </li>
                    </ul>
                </li>
                
                <li class="hasSubmenu ">
                    <a href="#organizations" data-toggle="collapse"><i class="icon-paint-brushes"></i>Organizations</a>
                    <ul class="collapse " id="organizations">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Organizations'.html_safe, organizations_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Start a Organization'.html_safe, new_organization_path %>
                        </li>
                    </ul>
                </li>
                <li class="hasSubmenu ">
                    <a href="#campaigns" data-toggle="collapse"><i class="icon-paint-brushes"></i>Campaigns</a>
                    <ul class="collapse " id="campaigns">
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> All Campaigns'.html_safe, campaigns_path %>
                           
                        </li>
                        <li class="">
                            <%= link_to '<i class="icon-lock-fill"></i> Start a Campaigns'.html_safe, new_campaign_path %>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <%= link_to '<i class="fa fa-group"></i>Find Friends'.html_safe, users_path %>
                </li>

               
                <li class="category border top">News Feeds</li>
                <li class="reset">
                    <ul>
                        <li class="media news-item">
                            <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                            <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                            <div class="media-body">
                                <a href="" class="text-white">Adrian</a> just logged in
                                <span class="time">2 min ago</span>
                            </div>
                        </li>
                        <li class="media news-item">
                            <span class="news-item-success pull-right "><i class="fa fa-circle"></i></span>
                            <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                            <div class="media-body">
                                <a href="" class="text-white">Adrian</a> just added <a href="" class="text-white">mosaicpro</a> as their office
                                <span class="time">2 min ago</span>
                            </div>
                        </li>
                        <li class="media news-item">
                            <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                            <div class="media-body">
                                <a href="" class="text-white">Adrian</a> just logged in
                                <span class="time">2 min ago</span>
                            </div>
                        </li>
                        <li class="media news-item">
                            <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                            <div class="media-body">
                                <a href="" class="text-white">Adrian</a> just logged in
                                <span class="time">2 min ago</span>
                            </div>
                        </li>
                        <li class="media news-item">
                            <span class="pull-left media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                            <div class="media-body">
                                <a href="" class="text-white">Adrian</a> just logged in
                                <span class="time">2 min ago</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="category">Filter</li>
                <li class="reset">
                    <ul>
                        <li><a href="#"><span class="fa fa-fw fa-circle-o text-success"></span> Work Related</a>
                        </li>
                        <li><a href="#"><span class="fa fa-fw fa-circle-o text-primary"></span> Very Important</a>
                        </li>
                        <li><a href="#"><span class="fa fa-fw fa-circle-o text-info"></span> Friends &amp; Family</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>