<!DOCTYPE html>
<html>
  <head>
    <title>Eachonehappy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Eachonehappy", pages_home_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">          
          <ul class="nav navbar-nav navbar-right">
            <% unless user_signed_in? %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% else %>  
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">My Account <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                  <li><a>Profile</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>  
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    <% if user_signed_in? %>
      <div class="col-md-3">
        <div class="page-header" id="banner"><br>
          <div class="row">
            <div class="list-group table-of-contents">
              <%= link_to "Posts", posts_path, :class => "list-group-item" %>
              <%= link_to "Categories", categories_path, :class => "list-group-item" %>
              <%= link_to "Causes", causes_path, :class => "list-group-item" %>
              <%= link_to "Comments", comments_path, :class => "list-group-item" %>
              <%= link_to "Fundraises", fundraises_path, :class => "list-group-item" %>
              <%= link_to "Jobs", jobs_path, :class => "list-group-item" %>
              <%= link_to "Organizations", organizations_path, :class => "list-group-item" %>
            </div>
          </div>
        </div>
      </div>   
      <div class="col-md-9">     
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    <% else %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %> 
    <% end %>     
    </div>  
  </body>
</html>
