<!DOCTYPE html>
<html lang="en">
  <head>
  
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <title>Eachonehappy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application' %>

  </head>
  <body>
 <%= render 'layouts/leftsidebar'%>
 <%= render 'layouts/header'%>
 <%= render 'layouts/rightsidebar'%>
 <%= render 'layouts/main'%>

    <script src="/js/vendor.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>

  