<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2" lang="en">
  <head> 
    <meta/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/css/vendor/all.css" rel="stylesheet">
    <link href="/css/app/app.css" rel="stylesheet">

    <title>Takestand</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script type='text/javascript' async>
   var m3_u = (location.protocol=='https:'?'https://srv.tyroodr.com/www/delivery/ajs_adwall.php':'http://srv.tyroodr.com/www/delivery/ajs_adwall.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?mobility=1ab2&zoneid=25168&groupid=8375&subid1=&subid2=&subid3=&subid4=&subid5=&gaid=&androidId=&idfa=&contextualTags=&brand=&categories=&discountPercent=&priceRange=&sortBy=&filtered=&gender=&search=&optionalparams=&memsig=a858bb22");
   document.write ('&cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&exclude=" + document.MAX_used);
   document.write (document.charset ? '&charset='+document.charset : (document.characterSet ? '&charset='+document.characterSet : ''));
   document.write ("&loc=" + escape(window.location));
   if (document.referrer) document.write ("&referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
</script>
  </head>
  <body>
    <% if user_signed_in? %>
      <div class="st-container">
        <%= render 'layouts/header'%>
        <%= render 'layouts/main'%>
      </div>
    <%else%>
      <%= yield %>
      <%= render 'shared/main_page_footer'%>  
    <%end%>    
    <script>
      var colors = {
        "danger-color": "#e74c3c",
        "success-color": "#81b53e",
        "warning-color": "#f0ad4e",
        "inverse-color": "#2c3e50",
        "info-color": "#2d7cb5",
        "default-color": "#6e7882",
        "default-light-color": "#cfd9db",
        "purple-color": "#9D8AC7",
        "mustard-color": "#d4d171",
        "lightred-color": "#e15258",
        "body-bg": "#f6f6f6"
      };
      var config = {
        theme: "admin",
        skins: {
          "default": {
            "primary-color": "#3498db"
          }
        }
      };
    </script>
    <script src="/js/vendor/all.js"></script>
    <script src="/js/app/app.js"></script>
   
  
  </body>
</html>

  